{% set body_class = "jw-home" %}

{% extends "layout/_layout.njk" %}

{% block content %}
  <div class="block block--constiuency">
      <div class="inner">
        <h1>{{name}}</h1>
      </div>
  </div>
{% endblock %} 